<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../static/jquery.cookie.js"></script>


    <style>
        .wrap {
            margin: auto;
            width: 1000px
        }
        
        table {
            width: 800px;
            height: 300px;
        }
        
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        
        .time_text {
            display: none;
        }

    </style>

    <script>
        function register(a, b) {
            $.ajax({
                type: "POST",
                url: "/register",
                dataType: 'json',
                headers: {
                    "Authorization": 'Bearer ' + $.cookie('jwt-token')
                },
                data: {
                    time_give: a,
                    type_give: b,
                },
                error: function(error) {
                    alert('로그인 후 이용해주세요!');
                    window.location.reload()
                },

                success: function(response) {
                    if (response["result"] == "success") {
                        alert("참가 완료!");
                        window.location.reload();
                    } else {
                        alert("로그인 후 이용해주세요!")
                        window.location.reload()
                    }
                }
            })
        }

        function logout() {
            $.ajax({
                type: 'GET',
                url: "/logout",
                headers: {
                    "Authorization": 'Bearer ' + $.cookie('jwt-token')
                },
                success: function(response) {
                    if (response["result"] == "success") {
                        alert("로그아웃 완료!");
                        location.href = "/";
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

        function remaindTime() {
            var now = new Date();
            var end = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 24, 00, 00);
            var open = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 09, 00, 00);

            var nt = now.getTime();
            var et = end.getTime();
            var ot = open.getTime();
            if (nt < ot) {
                $('.time_text').fadeIn();
                $('button.reg_button').fadeOut();
                $("p.text_title").html('신청 시작까지 남은 시간');
                sec = parseInt(ot - nt) / 1000;
            } else {
                $('.time_text').fadeOut();
                $('button.reg_button').fadeIn();
                $("p.text_title").html('신청 마감까지 남은 시간');
                sec = parseInt(et - nt) / 1000;
            }
            day = parseInt(sec / 60 / 60 / 24);
            sec = (sec - (day * 60 * 60 * 24));
            hour = parseInt(sec / 60 / 60);
            sec = (sec - (hour * 60 * 60));
            min = parseInt(sec / 60);
            sec = parseInt(sec - (min * 60));
            if (hour < 10) {
                hour = "0" + hour;
            }
            if (min < 10) {
                min = "0" + min;
            }
            if (sec < 10) {
                sec = "0" + sec;
            }
            $(".hours").html(hour);
            $(".minutes").html(min);
            $(".seconds").html(sec);

        }
        setInterval(remaindTime, 1000);

        // $(document).ready(function(){
        //     $.ajax({
        //         url: 'https://api.openweathermap.org/data/2.5/weather?qSeoul&appid=f9d7a0fd2d6d72ccdcbd7efab92469e6&units=metric',
        //         dataType: 'json',
        //         type: 'GET',
        //         success: function(data){
        //             var $Icon = (data.weather[0].icon);
        //             var $Temp = Math.floor(data.main.temp) + '도';
        //             var $city = data.name;

        //              $('.CurrIcon').append('http://openweathermap.org/img/wn/' + $Icon + '@2x.png');
        //              $('.CurrTemp').prepend($Temp);
        //              $('.City').append($city);
        //         }
        //     })
        // });
    </script>

</head>

<body>

    <div class="wrap pt-5">
        <!-- <div class="weather">
            <div class="CurrIcon"></div>
            <div class="CurrTemp"></div>
            <div class="City"></div>
        </div> -->
        
        {% if loginChecked %}
        <div class="buttons is-right pt-3">
            <a class="button is-success" href="login">로그인</a>
            <a class="button is-light" href="signup">회원가입</a>
        </div>
        {% else %}
        
        <div class="buttons is-right pt-3">
            <strong>{{username}}</strong>님 환영합니다.
            <a class="button is-info" href="mypage">마이페이지</a>
            <button class="button is-light ml-3" onclick="logout()">로그아웃</button>
        </div>
        {% endif %}
        <div class="has-text-centered pb-6">
            <h1 class="title box has-background-success has-text-white">정글 운동 매칭 서비스</h1>
        </div>

        <div class="has-text-centered pb-6">
            <p class="subtitle time_text" style="display:none">오늘 운동 신청 인원</p>
        </div>
        <table class="table center">
            <thead>
                <tr>
                    <th></th>
                    <th>헬스</th>
                    <th>러닝</th>
                    <th>산책</th>
                </tr>
            </thead>
            {% for key, val in homeDict.items()%}
            <tbody>
                <th>{{key}}</th>
                {% for status in val %}
                <td><button class="button is-white">{{(status["players"]|length)}}명</button>
                    <button class="button is-success" onclick="register('{{key}}', '{{(status["type"])}}')">참가</button>
                    <progress class="progress is-small mt-2 is-info" value="{{(status["players"]|length)}}" max="8">20%</progress>
                </td>
                {% endfor %}
            </tbody>
            {% endfor %}

        </table>

        <div class="box has-text-centered is-shadowless pt-6">
            <p class="title text_title">신청 마감까지 남은 시간</p>
            <div class="time title pt-3">
                <span class="hours"></span>
                <span class="col">:</span>
                <span class="minutes"></span>
                <span class="col">:</span>
                <span class="seconds"></span>
            </div>
            {% if not loginChecked %}
            <a class="button is-info time_text" href="mypage">오늘의 매칭 결과 보기</a> {% else %}
            <p class="time_text subtitle pt-3">매칭 결과를 보려면 로그인 하세요</p> {% endif %}
        </div>

        <a href="mypage">결과창</a>
    </div>
</body>

</html>