<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">


    <style>
        .wrap {
            margin: auto;
            width: 1000px
        }
        
        table {
            width: 800px;
            height: 300px;
        }
        
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div class="wrap pt-5">
        <div class="buttons is-right pt-3">

            <a class="button is-success" href="login.html">로그인</a>
            <a class="button is-light" href="signup.html">회원가입</a>


        </div>

        <div class="has-text-centered pb-6">
            <h1 class="title box has-background-success has-text-white">정글 운동 매칭 서비스</h1>
        </div>


        <div class="has-text-centered pt-6">
            <h1 class="title">매칭 결과</h1>
        </div>
    </div>
</body>

</html>