<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mini Project</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="../static/jquery.cookie.js"></script>
    <script src="https://kit.fontawesome.com/634611fe9c.js" crossorigin="anonymous"></script>

    <style>
      .wrap {
        margin: auto;
        width: 1000px;
      }

      table {
        width: 800px;
        height: 300px;
      }

      table.center {
        margin-left: auto;
        margin-right: auto;
      }

      img{
        width: auto;
        height: 300px;
      }

      a.fa-solid{
        color:black;
      }

      .box_width{
        width: 500px;
        margin: auto;
      }
    </style>
    <script>
      function logout() {
        $.ajax({
          type: "GET",
          url: "/logout",
          headers: {
            Authorization: "Bearer " + $.cookie("jwt-token"),
          },
          success: function (response) {
            if (response["result"] == "success") {
              alert("로그아웃 완료!");
              location.href = "/";
            } else {
              alert("로그아웃 실패!");
            }
          },
        });
      }

      var imgurl="/static/images/" + '{{result["type"]}}' + ".png";
      window.onload = function(){
        document.getElementById("imageid").src = imgurl;
      }

    </script>
  </head>

  <body>
    <div class="wrap pt-5">
      <nav class="level">
        <div class="level-left">
          <a class="level-item pl-4 fa-solid fa-house fa-2xl" href="/"></a>
          <!-- <a class="button is-info level-item" href="/">홈으로</a> -->
        </div>
        <div class="level-right">
          <p class="level-item"><strong>{{username}}</strong>님 환영합니다.</p>
          
          <button class="button level-item is-light ml-3" onclick="logout()">
          로그아웃
          </button>
        </div>
          

    </nav>
      <div class="has-text-centered pb-6">
        <h1 class="title box has-background-success has-text-white">
          정글 운동 매칭 서비스
        </h1>
      </div>

      <div class="has-text-centered">
        <h1 class="title">매칭 결과</h1>
      </div>

      {% if (result['playerNames']|length)>=2 %} {% set _dummy=result['playerNames'].remove(username) %}

        <div class="has-text-centered pt-6">
            <!-- <p class="title pb-5">{{username}}님</p>  -->
            <p class="subtitle">{% for player in result['playerNames'][:-1]%}
                <strong>{{player}}</strong>님, {% endfor %}
                <strong>{{result['playerNames'][-1]}}</strong>님과 함께 <strong>{{result["type"]}}</strong>입니다.</p>
            <p class="subtitle">시간 : 아침 <strong>{{result['time'].split(':')[0][1]}}</strong>시</p>
            <p class="subtitle">장소 : {%if (result["type"] == 헬스)%} 강의동 지하 1층 헬스장 {%else%} 기숙사 앞{%endif%}</p>
            <p><img id="imageid" src=""></p>
 
           {% for s in result['players'] %}
           <div class="box box_width">
           {% for v in s.values() %}
           {{v}} <br>
           {% endfor %}
          </div>

           {% endfor %}



        {%else%}
        <div class="has-text-centered pt-6">
            <!-- <p class="title pb-5">{{username}}님</p>  -->
            <p class="subtitle">인원 미달로 매칭이 성사되지 않았습니다.</p>
            <img src="/static/images/fail.png"> {% endif %}

        </div>



        <div class="has-text-centered">
          <script> 
           {% set h_list = [] %} 
           {% set w_list = [] %} 
           {% set r_list = [] %} 

           {% for k, v in userlog.items() %} 
               {%if v == '헬스' %} 
                   {{h_list.append(k)}} 
               {% elif v == '산책' %} 
                   {{w_list.append(k)}} 
               {% else %} 
                   {{r_list.append(k)}} 
               {% endif %} 
           {% endfor %}
           </script>

           <p class="title pt-6">운동 기록</p>
           <table class="table center has-text-centered">
               <thead>
                   <th>헬스</th>
                   <th>산책</th>
                   <th>러닝</th>
               </thead>
               <tbody>
                   <th>
                       <p>{{h_list|length}}번</p><br> {% for day in h_list %}<p>{{day[4:6]}}월{{day[6:]}}일 </p>  </span>{%endfor%}
                   </th>
                   <th>  
                       <p>{{w_list|length}}번</p><br>  {% for day in w_list %}<p>{{day[4:6]}}월{{day[6:]}}일</p>   </span>{%endfor%}
                   </th>
                   <th>
                       <p>{{r_list|length}}번</p><br> {% for day in r_list %}<p>{{day[4:6]}}월{{day[6:]}}일</p>   {%endfor%}
               </tbody>
           </table>   
       </div>

        <p class="title has-text-centered">운동 랭킹</p>
<table class="table center has-text-centered">

  
    <thead>
        <th>헬스</th>
        <th>산책</th>
        <th>러닝</th>
        <th>종합</th>
    </thead>
    <tbody>
        <th>
            {% for user in count_data|sort(attribute="health_count", reverse=True) %}
            <p>{{user['username']}} : {{user['health_count']}}회</p> 
            {% endfor %} 
        </th>
        <th>
            {% for user in count_data|sort(attribute="walking_count", reverse=True) %}
            <p>{{user['username']}} : {{user['walking_count']}}회</p> 
            {% endfor %} 
        </th>
        <th>
            {% for user in count_data|sort(attribute="running_count", reverse=True) %}
            <p>{{user['username']}} : {{user['running_count']}}회</p> 
            {% endfor %} 
        </th>
        <th>
            {% for user in count_data|sort(attribute="", reverse=True) %}
            <p>{{user['username']}} : {{user['total_count']}}회</p> 
            {% endfor %} 
        </th>
    </tbody>
</table>

</body>

</html>