<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<style>
    .wrap {
        margin: auto;
        width: 500px
    }
</style>


<body>


    <div class="wrap pt-6">

        <div class=" box has-background-success  has-text-centered mt-6 mb-6">
            <a href="index.html" class="title has-text-white">정글 운동 매칭 서비스</a>
        </div>

        <form class="box">
            <div class="field">
                <label class="label">아이디</label>
                <div class="control">
                    <input class="input" type="text" placeholder="아이디를 입력하세요">
                </div>
            </div>

            <div class="field">
                <label class="label">비밀번호</label>
                <div class="control">
                    <input class="input" type="password" placeholder="비밀번호를 입력하세요">
                </div>
            </div>

            <div class="field">
                <label class="label">이름</label>
                <div class="control">
                    <input class="input" type="text" placeholder="이름을 입력하세요">
                </div>
            </div>

            <button class="button is-success">회원가입</button>
        </form>
    </div>
</body>

</html>